@*@model HBR.Persistence.Models.Users*@
<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;

}
<head>


    <title>HBR GROUP</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gaze Sign up & login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!--stylesheets-->
    <link href="~/css/style.css" rel="stylesheet" />
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>

<body>
    <div class="mid-class">
        <div class="art-right-w3ls">
            @using (Html.BeginForm("Register","Users", FormMethod.Post, new { onkeydown = "return event.keyCode!=13" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Raw(TempData["msg"])
                <input type="hidden" id="IdUser" name="IdUser" />
                <!-- popup-->
                <div id="content1">
                    <div class="popup">
                        <!--login form-->
                        <div class="letter-w3ls">
                            <form action="#" method="post" data-toggle="validator">

                                <div class="form-left-to-w3l">
                                    <input type="text" name="_Name" id="name" placeholder="Nombre" >
                                </div>
                                <div class="form-left-to-w3l">
                                    <input type="text" name="LastName" id="lastName" placeholder="Apellido" >
                                </div>
                                <div class="form-left-to-w3l">
                                    <input type="text" name="Telephone" id="telephone" placeholder="Telefono">
                                </div>
                                <div class="form-left-to-w3l">
                                    <input type="email" id="email" name="Email" placeholder="Email" >
                                    <span id="emailOK"></span>
                                </div>
                                <div class="form-left-to-w3l">
                                    <input type="password" name="_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Contraseña" MAXLENGTH="20" id="password">
                                </div>
                                <div class="btnn">
                                    <button type="submit" id="btnAction" >Registrar</button>

                                    <br>

                                </div>
                                <h4>
                                    <a href="~/Users/Login" style="color:Highlight">
                                        Regresar al Login...
                                    </a>
                                </h4>
                                @if (ViewBag.Message != null)
                                {
                                    <script type="text/javascript">

                                 window.onload = function () {
                                 alert("@ViewBag.Message");
                                };
                                    </script>

                                }
                            </form>
                            <div class="clear"></div>
                        </div>
                        <!--//login form-->
                        <a class="close" href="#">&times;</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>


</html>


<script src="~/js/jquery-1.10.2.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>

<script src="~/js/jquery.mask.js"></script>
<script src="~/js/jquery.mask.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $('#telephone').mask('(000)000-0000');


    });

    $(function() {

        var name, LastName, telephone;
        $("#btnAction").on('click', function () {
            name = $("#name").val();
            LastName = $("#lastName").val();
            telephone = $("#telephone").val();
            email = $("#email").val();
            password = $("#password").val();

            if (name.length == 0 || LastName.length == 0 || telephone.length == 0 || email.length == 0 || password.length == 0) {
                alert("Existen campos vacios");
                return false;
            }
            return true;
        });

    });


</script>
