@model HBR.Persistence.Models.Categories


    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nombre de la categoria</label>
                                <input type="text" name="_Name" id="_Name" value="@Model._Name" class="form-control" placeholder=" " disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id_Categoria" value="@Model.id_Categories" />
            <div class="row clearfix">


                <div class="col-sm-12">
                    <button type="submit" class="btn btn-danger btn-round">Delete</button>
                    <button type="button" class="btn btn-default btn-round btn-simple" id="btn_cancelar">Cancelar</button>
                </div>
            </div>

        }
    </div>
<script src="~/Content/Menu/js/jquery-3.3.1.min.js"></script>
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@

<script type="text/javascript">

    $(document).ready(function () {

        $('#btn_cancelar').click(function () {
            window.location.href = '/Categories/Index';
        })


    })

</script>