@model HBR.Persistence.Models.Categories

<section>


    <div class="container-fluid">

        @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { onkeydown = "return event.keyCode!=13" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id_Categories" value="@Model.id_Categories" />
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Nombre de la categoria</label>
                                        <input type="text" name="_Name" id="name" value="@Model._Name" class="form-control" placeholder=" ">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">


                        <div class="col-sm-12">
                            <button type="submit" id="register" class="btn btn-primary btn-round">Editar</button>
                            <button type="button" class="btn btn-default btn-round btn-simple" id="btn_cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</section>

<script src="~/Content/Menu/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/Menu/js/jquery-1.10.2.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#btn_cancelar').click(function () {
            window.location.href = '/Categories/Index';
        })
    })
    $(function () {

        var name
        $("#register").on('click', function () {
            name = $("#name").val();

            if (name.length == 0) {
                alert("El campo esta vacio.");
                return false;
            }
            return true;
        });

    });
</script>